<div class="content">
  <div class="container">
    <h1>Lista</h1>
    <ul class="list">
      <li>
        <div class="info">
          <h3>Antonio Rodrigues</h3>
          <span>CPF: 720.748.171-34</span>
        </div>
        <div class="control">
          <span>s</span>
          <span>s</span>
        </div>
      </li>
      <li>
        <div class="info">
          <h3>Antonio Rodrigues</h3>
          <span>CPF: 720.748.171-34</span>
        </div>
        <div class="control">
          <span>s</span>
          <span>s</span>
        </div>
      </li>
      <li>
        <div class="info">
          <h3>Antonio Rodrigues</h3>
          <span>CPF: 720.748.171-34</span>
        </div>
        <div class="control">
          <span>s</span>
          <span>s</span>
        </div>
      </li>
    </ul>
  </div>
</div>
