<div class="content">
  <div class="container">
    <h1>Adicionar Cliente</h1>
    <form [formGroup]="form" novalidate (ngSubmit)="submit()">
      <h3>Dados Pessoais</h3>
      <div class="row">
        <input type="text" placeholder="Nome" formControlName="name" />
      </div>
      <div class="row">
        <input
          type="text"
          placeholder="CPF"
          formControlName="cpf"
          mask="000.000.000-00"
        />
        <input
          type="text"
          placeholder="Telefone"
          formControlName="phone"
          mask="(00) 0000-0000"
        />
        <input
          type="date"
          placeholder="Data Nascimento"
          formControlName="birthday"
        />
      </div>
      <h3>Veículo</h3>
      <div class="row">
        <select formControlName="brand" [compareWith]="check">
          <option *ngFor="let brand of brands" [ngValue]="brand">
            {{ brand.nome }}
          </option>
        </select>
      </div>
      <div class="row">
        <select formControlName="vehicle" [compareWith]="check">
          <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">
            {{ vehicle.nome }}
          </option>
        </select>
      </div>
      <div class="row pull-right">
        <button type="submit" [disabled]="!form.valid">Adicionar</button>
      </div>
    </form>
  </div>
</div>
