<div class="content">
  <div class="container">
    <h1>Adicionar Cliente</h1>
    <form novalidate>
      <h3>Dados Pessoais</h3>
      <div class="row">
        <input type="text" placeholder="Nome" />
      </div>
      <div class="row">
        <input type="text" placeholder="CPF" />
        <input type="text" placeholder="Telefone" />
        <input type="date" placeholder="Data Nascimento" />
      </div>
      <h3>Veículo</h3>
      <div class="row">
        <select>
          <option>Selione uma Marca</option>
          <option>Ford</option>
          <option>Fiat</option>
        </select>
      </div>
      <div class="row">
        <select>
          <option>Selione um Modelo</option>
          <option>Ford</option>
          <option>Fiat</option>
        </select>
      </div>
      <div class="row pull-right">
        <button type="submit">Adicionar</button>
      </div>
    </form>
  </div>
</div>
